/* Based on the Accordion example from w3schools (https://www.w3schools.com/howto/howto_js_accordion.asp) with apllied changes */

.question {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
}

.active, .question:hover {
    background-color: #ccc; 
}

.answer {
    padding: 0 18px;
    display: none;
    background-color: white;
}


.question:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

