/*Gallery*/
.galleryImg {
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    overflow: hidden;
    float: left;
    margin: 5px;
}

#jpg img {
    padding: 5px;
    height: auto;
    width: 200%;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    overflow: hidden;
}
/* Add a hover effect (blue shadow) */
#jpg img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#nbr{
    display: none;
}
