* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #f5f5dc;
}
article {
    margin: 0 5% 0 5%;
    padding: 1% 5% 2% 5%;
    background-color: #ffffff;
    overflow: hidden;
}
h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #4d543d;
}
h2 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.4em;
    text-align: center;
    margin: 4% 0 2%;
    color: #4d543d;
}
h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9em;
    padding-top: 1%;
}
a {
    color: #AEBF87;
    text-decoration: none;
}
a:hover {
    color: #747f5a;
    text-decoration: underline;
    font-weight: bolder;
}
td {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    border: none;
    outline: none;
}
th {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding-right: 4%;
    border: none;
    outline: none;
}
/*home page styling starts here*/

/* align the slideshow in the centre of the page*/
#projectsandeventsbox img {
    max-width: 100%;
}
/*position the weather and maintenance side-by-side*/
#weatherbox {
    width: 45%;
    float: left;
    margin-top: 2%;
    padding-right: 5%;
}
#iframe {
    text-align: center;
    padding-top: 1%;
}
#maintenancebox {
    width: 50%;
    float: left;
    margin-top: 2%;
}
/*projects and events landing page styling starts here*/
/*position the images in the centre, equally spaced*/
.boxesprojectsandevents {
    width: 44%;
    float: left;
    position: relative;
    text-align: center;
}
.boxesprojectsandevents h2 {
    color: #ffffff;
}
#projects {
    margin: 2% 2% 1% 4%;
}
#gallery {
    margin: 1% 2% 2% 4%;
}
#events {
    margin: 2% 4% 1% 2%;
}
#calendar {
    margin: 1% 4% 2% 2%;
}
#cal {
    width: 100%;
    min-height: 600px;
}
.boxesprojectsandevents img {
    width: 100%;
}
/*add opaque overlay on hover*/
.boxesprojectsandevents img:hover {
    opacity: 0.5;
}
/*overlay and align the text to centre it on each image, code from W3Schools: https://www.w3schools.com/howto/howto_css_image_text.asp*/
.boxesprojectsandevents h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*projects sub-page styling starts here*/
/*centering and scaling all the images*/
#playgroundbox {
    text-align: center;
}
#rosesbox {
    text-align: center;
}
#parkingbox {
    text-align: center;
}
/*styling the contact form starts here*/
#suggestionform {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#suggestionform input {
    font-family: 'Open Sans', sans-serif;
}
input[type=text] {
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
}
input[type=email] {
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 25px;
    margin-top: 1%;
    margin-bottom: 1%;
}
textarea {
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 1%;
    font-family: 'Open Sans', sans-serif;
}
input[type=file] {
    margin: 1% 0;
}
/*styling the contact page starts here*/

.contactForm {
    font-family: 'Open Sans', sans-serif;
}
.contactForm input {
    font-family: 'Open Sans', sans-serif;
}
#name {
    max-width: 90%;
}
#senderEMail {
    max-width: 90%;
}
#rsnCntct {
    max-width: 90%;
}
#msgContact {
    max-width: 90%;
}
/*events sub-page styling starts here*/
/*centering and scaling all the images*/
#zulubox {
    text-align: center;
}
#stellabox {
    text-align: center;
}
#soapbox {
    text-align: center;
}
#hostingbox {
    text-align: center;
}
#hosting {
    margin: 3% 0 1% 0;
}
/*visitor information landing page styling starts here*/
/*position the images in the centre, equally spaced*/
.boxesvisitorinfo {
    width: 44%;
    float: left;
    position: relative;
    text-align: center;
}
.boxesvisitorinfo h2 {
    color: #ffffff;
}
#location {
    margin: 2% 2% 2% 4%;
}
#history {
    margin: 2% 4% 2% 2%;
}
.boxesvisitorinfo img {
    width: 100%;
}
/*add opaque overlay on hover*/
.boxesvisitorinfo img:hover {
    opacity: 0.5;
}
/*overlay and align the text to centre it on each image, code from W3Schools: https://www.w3schools.com/howto/howto_css_image_text.asp*/
.boxesvisitorinfo h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* FAQs styling starts here*/
#faqs h3 {
    margin: 1% 5% 1% 5%;
}
#faqs p {
    margin: 1% 5% 2% 5%;
}
/*Under Contruction Page*/
#underConstructionImg {
    padding: 0 10% 0 10%;
    width: 80%;
}

/*responsive styling starts here*/
@media only screen and (min-width: 280px) {
#historyMobile {
    text-align: center;
    margin: 4% 0;
}
/*responsive styling of images on home, projects, and events page*/
#projectsandeventsbox, #playgroundbox img, #rosesbox img, #parkingbox img, #zulubox img, #stellabox img, #soapbox img, #hostingbox img, div.rightMap img, #historyMobile img, .newMap img, .oldMap img {
    max-width: 95%;
}
/*responsive styling of history page*/
div.oldGallery {
    width: 100%;
    margin-bottom: 4%;
}
.newMap, .oldMap {
    text-align: center;
    margin: 5% 0;
}
/*responsive styling of location page*/
div#mobileLocation#mapGoogle {
    text-align: center;
    padding: 0;
}
div#mobileLocation#mapGoogle iframe {
    border: 0;
    width: 100%;
}
div.rightMap {
    text-align: center;
    margin-top: 4%;
}
#map-location picture {
    width: 100%;
}
.greyRow {
    background-color: beige;
}
th, td {
    padding: 1%;
}
.distanceOfLandmarks li {
    list-style: none;
    text-indent: 1.5em;
    font-family: 'Open Sans', sans-serif;
    padding: 1% 0;
    font-size: 0.9em;
}
.toilets p {
    padding-left: 1.5em;
}
/*responsive styling of contact page*/
#contactTable {
    margin-top: 4%;
}
#contactTable th {
    padding: 3% 5%;
    color: #4d543d;
}
#contactTable td {
    padding: 0 5%;
}
}

@media only screen and (min-width: 500px) {
/*responsive styling of images on home, projects, and events page*/
#projectsandeventsbox, #playgroundbox img, #rosesbox img, #parkingbox img, #zulubox img, #stellabox img, #soapbox img, #hostingbox img, #historyMobile img {
    max-width: 80%;
}
div.rightMap img {
    max-width: 60%;
}
/*responsive styling of history page*/
div.oldGallery {
    width: 80%;
    margin-left: 10%;
}
.newMap, .oldMap {
    width: 50%;
    float: left;
}
/*responsive styling of location page*/
div.distanceOfLandmarks {
    width: 48%;
    float: left;
}
div.distanceOfLandmarks li {
    text-indent: 0;
}
div.toilets {
    width: 48%;
    float: left;
    padding-left: 4%;
}
}

@media only screen and (min-width: 850px) {
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}
p {
    font-size: 1em;
}
/*responsive styling of images on home, projects, and events page*/
#projectsandeventsbox, #playgroundbox img, #rosesbox img, #parkingbox img, #zulubox img, #stellabox img, #soapbox img, #hostingbox img {
    max-width: 50%;
}
/*responsive styling of history page*/
#historyMobile {
    display: none;
}
div.historyTextLeft {
    clear: left;
}
div.textLeft {
    float: left;
    width: 50%;
    padding: 0 0 0 0;
}
div.oldGallery {
    float: right;
    width: 50%;
    padding: 0 0 3% 5%;
    margin: 0;
}
.clearfix {
    clear: both;
}
.newMap, .oldMap {
    width: 40%;
    margin: 5%;
}
/*responsive styling of location page*/
div#mobileLocation {
    display: none;
}
div#desktopLocation {
    display: block;
}
.clear {
    clear: both;
}
div#mapGoogle {
    padding: 0 10%;
}
.leftInformation {
    width: 50%;
    float: left;
}
.rightMap {
    float: right;
    width: 50%;
}
div.rightMap img {
    max-width: 80%;
    padding: 0 10%;
}
div.distanceOfLandmarks li {
    font-size: 1em;
}
/*responsive styling of contact page*/
div.contactForm {
    width: 45%;
    float: left;
}
#contactTable {
    width: 54%;
    margin: 3% 2% 0 0;
}
th, td {
    padding: 2%;
}
}

@media only screen and (min-width: 1050px) {
/*responsive styling of map on the location page*/
div#mapGoogle {
    padding: 0 25%;
}
/*responsive styling of maps on the history page*/
.newMap, .oldMap {
    width: 25%;
    margin: 0;
    float: left;
}
.textRight {
    width: 50%;
    float: left;
    padding-left: 5%;
}
}

@media only screen and (min-width: 1120px) {
/*responsive styling of table on the location page*/
.clear {
    clear: none;
}
}
